.Rhistory
.RData
.DS_Store
._*
/keys/*
/locations/foursquare/data/*
/location_folders/sport/data/BAG_sport/
/location_folders/shopping/data/BAG_retail/
/location_folders/work/data/buildings_retail/
/location_folders/work/data/buildings_office/